:root {
  --slate: #434455;
  --navy-blue: #2e2f42;
  --iris: #4d5ae5;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --ocean: #404bbf;
  --white: #ffffff;
  --black: #000000;
}

body {
  background-color: var(--white);
  color: var(--slate);

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.32px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto, Raleway, sans-serif;
}

a {
  text-decoration: none;
  font-style: normal;
}

.list {
  list-style: none;
  text-decoration: none;
}

.link {
  text-decoration: none;
}

/* Primary color: rgba(46, 47, 66, 1)
Secondary color: : rgba(67, 68, 85, 1)
Thirdary color: rgba(255, 255, 255, 1)
Fourth color: rgba(77, 90, 229, 1)
Fifth color: rgba(244, 244, 253, 1)
*/

.logo {
  color: var(--iris);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  /* line-height: 21px; */
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.logo:hover {
  color: var(--iris);
}

.logo-s {
  color: var(--navy-blue);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  /* line-height: 21px; */
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.logo-s:hover {
  color: var(--iris);
}

/* Site nav */
.site-nav .link {
  color: var(--navy-blue);
  font-size: 16px;
  font-weight: 500;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--ocean);
}

.address {
  font-style: normal;
  color: var(--slate);
}

.contact-list .link {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
}

.contact-list .link:hover,
.contact-list .link:focus {
  color: var(--ocean);
}

.button {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  /* line-height: 24px;  150% */
  line-height: 1.5;
  font-style: normal;
  font-weight: 500;
  /* border-radius: 4px; */
  letter-spacing: 0.64px;

  cursor: pointer;
}

.button.primary {
  color: var(--white);
  background-color: var(--iris);
  border-color: var(--ocean);

  /* padding: 16px 32px; */
}
.button.primary:hover,
.button.primary:focus {
  color: var(--ocean);
  background-color: var(--ocean);
}

.button.secondary {
  background-color: var(--cloud);
  color: var(--iris);
  border-color: var(--cloud);

  /* padding: 12px 24px; */
}
.button.secondary:hover,
.button.secondary:focus {
  color: var(--white);
  background-color: var(--ocean);
}

/* Paragraph Primary */
.paragraph-primary {
  color: var(--slate);
}
/* Header 1 */
.heading-one {
  /* width: 496px; */

  color: var(--white);
  /* text-align: center; */

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  /* line-height: 60px; */
  letter-spacing: 1.12px;
}
/* Header 2 */
.heading-two {
  color: var(--navy-blue);
  /* text-align: center; */

  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  /* line-height: 40px; 111.111%  */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
/* Header 3 */
.heading-three {
  color: var(--navy-blue);

  font-size: 20px;
  line-height: 1.2;
  /* line-height: 24px; */
  font-weight: 500;
  letter-spacing: 0.4px;
}

/* .paragraph-long { 
   width: 264px; 
} */
/* Section Four Main */

.card-list > li {
  background-color: var(--white);
  color: var(--slate);
  /* text-align: center; */
  /* Body */
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}

/* Footer */
.footer {
  background-color: var(--navy-blue);
}
/* Logo */
/* .lfooter { 
  color: var(--iris);

  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
}
.lfooter:hover {
  color: var(--white);
} */

.footer {
  color: var(--cloud);
}
.footer:hover {
  color: var(--iris);
}

.footer-paragraph {
  /* width: 264px; */

  color: var(--cloud);
}

/* Page header */

/* Section one */
.section-one {
  background-color: var(--navy-blue);
}

/* Section two */
.section-two-list .heading-three {
  color: var(--navy-blue);
}

/* Section three */

/* Section four */
.section-four {
  background-color: var(--cloud);
}
